<div class="auth-container">
    <h1>Editar sua Conta</h1>
    <form action="/toughts/profile" method="POST" class="edit-form">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite seu nome" value="{{user.name}}">
        </div>
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" value="{{user.email}}">
        </div>
        <div class="form-control">
            <label for="password">Confirme com sua senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha atual" required>
        </div>
        <input type="submit" value="Editar Perfil">
    </form>
</div>